/* GENERAL*/
html {
  font-size: 18px
}

  body {
    line-height: 1.4rem;
    font-family: Helvetica, sans-serif;
}

span {
  font-size: 1rem;
  font-weight: bold;
}

.site-container {
  width: 960px;
  margin: 0 auto;
}

/*TOP SECTION -BANNER IMG, HEADER, MENU*/

.banner-img {
  background-image: url("../images/glasses-bg.png");
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.header {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}

.branding {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;

}
.company-logo {
  display: flex;
  align-items: center;
}
.company-logo img {
  height: 1.5rem;
  padding-left: 2rem;
}

.company-name {
  display: flex;
  padding: 1rem;
  flex-grow: 1;
}

.nav-container {
  color: white;
  display: flex;
}

.desktop-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul li {
  padding-right: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.headline-box {
    background-color: white;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
    }

.headline {
  margin: 2rem 4rem;
}

  .headline h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2rem;
  }

/*ICONS SECTION*/

.icons-container {
  display: flex;
  justify-content: center;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
    width: 5rem;
    height: 8rem;
}

.icon img.paper-icon {
  width: 3.5rem;
}

.icon img.ruler-icon {
  width: 5rem;
}

.icon img.truck-icon {
    width: 5rem;
}

}
.icon img {
  width: 3.5rem;
}

.icon p {
  text-align: center;
}


/*INFO SECTION*/
.info-container {
  display: flex;
  justify-content: center;
}

.info-box {
  width: 35%;
  margin-right: 5%;
}


.info-box h2 {
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  width: 10rem;
}


/*FOOTER*/

footer {
  background-color: azure;
  height: 9.5rem;
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer .company-logo {
  padding-left: 2rem;
}

  footer span {
    margin-left: 1rem;
}


/*media queries and styles*/


.mobile-menu {
  display: none;
}

/* 960px*/
@media only screen and (max-width: 960px) and (min-width: 470px) {

  .site-container {
    max-width: 100%;
  }

/*menu snap to top*/
.header {
  margin-top: 0;
}

/*move headline*/
.headline-box {
  margin-right: 2rem;
  margin-top: 5rem;
    }

/*change headline spacing and size*/
.headline {
  margin: 1.5rem 4rem;
}

  .headline h1 {
    font-size: 1.3rem;
  }

  .banner-img {
    background-position: 30%;
  }

}

/* 470px*/
@media only screen and (max-width: 470px) {

    .site-container {
      max-width: 100%;
    }

.desktop-menu {
  display: none;
}

.flex-container {

}


.headline-box {
width: 100%;
  margin-top: 19rem;

margin-right: 0;


    }

    .headline {
      margin: 1rem;
      width: 100%;
      text-align: center;
    }


      .headline h1 {
        font-size: 1rem;
      }

.mobile-menu {
  display: block;
  background-color: cadetblue;
  margin-right: 2rem;
  color: white;
}

.banner-img {
  background-position: 20%;
  margin-bottom: 2rem;
}

.icons-container {
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;

}

.icon p {
  font-size: 0.77rem;
}

.icon {
margin-top: 2.5rem;
margin-bottom: 0;
height: 5rem;
justify-content: center;
align-items: center;
}

.info-container {
  max-width: 90%;
  margin-top: 3.77rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info-box {
  margin-right: 0;
  width: 100%;
}

.info-box h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 0;

}

.info-box p {
  width: 100%;
  font-size: 0.77rem;
  padding: 1.5rem;

}

footer {
  margin-top: 3rem;
}
